<h1>Создать компанию</h1>
<%= form_for :company, url: companies_path do |f| %>

  <fieldset>
    <legend>Компания</legend>
    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
      <%= show_errors(@company, :title) %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Директор</legend>
    <%= fields_for :employee do |employee| %>
    	<div class="form-group">
    		<%= employee.label :first_name %><br> 
        <%= employee.text_field :first_name, class: 'form-control' %>	
        <%= show_errors(@employee, :first_name) %>
    	</div>
      <div class="form-group">
      	<%= employee.label :middle_name %><br> 
        <%= employee.text_field :middle_name, class: 'form-control' %>
        <%= show_errors(@employee, :middle_name) %>
      </div>
      <div class="form-group">
      	<%= employee.label :last_name %><br> 
        <%= employee.text_field :last_name, class: 'form-control' %>
        <%= show_errors(@employee, :last_name) %>
      </div>
    <% end %>
  </fieldset>
 
  <p>
    <%= f.submit value: I18n.t('app.forms.save'), class: 'btn btn-success' %>
  </p>
<% end %>
