<h1>Создать компанию</h1>
<%= form_for :company, url: companies_path do |f| %>
 
  <% if @company.errors.any? or @employee.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Компания</legend>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
  </fieldset>
  <fieldset>
    <legend>Директор</legend>
    <%= fields_for :employee do |employee| %>
    	<p>
    		<%= employee.label :first_name %><br> 
        <%= employee.text_field :first_name %>	
    	</p>
      <p>
      	<%= employee.label :middle_name %><br> 
        <%= employee.text_field :middle_name %>
      </p>
      <p>
      	<%= employee.label :last_name %><br> 
        <%= employee.text_field :last_name %>
      </p>
    <% end %>
  </fieldset>
 
  <p>
    <%= f.submit I18n.t('app.forms.save') %>
  </p>
<% end %>
 
<%= link_to 'Back', companies_path %>
