<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Firm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "alert alert-#{name}", role: 'alert' %>
  <% end -%>
  
  <ul class="nav nav-pills">
    <li class="<%= (current_page?(companies_path) or 
      current_page?('/')) ? 'active' : '' %>">
      <%= link_to I18n.t('app.menu.companies_list'), root_path %>  
    </li>
    <li class="<%= current_page?(new_company_path)  ? 'active' : '' %>">
      <%= link_to I18n.t('app.menu.add_company'), new_company_path %>
    </li>
  </ul>
  <%= yield %>
</div>


</body>
</html>
